.left-navigation
{
	background: #343a40;
	 height: calc(100vh + 60px);
}
.left-navigation a 
{
	margin-bottom: 10px !important;
	color:#FFF !important;
}

.left-navigation a.active
{
	border-radius:0px !important;
	color:#fff !important;
}

.left-navigation a:hover
{
	background: #d6d6d6;
	border-radius:0px !important;
	color:#000 !important;
}

.admin-top-navbar
{
	display:inline-block !important;
}

.admin-main-body{
	background: #DDD;
}

/*admin login form costumization*/
html,
.login-body {
  height: 100%;
}

.login-body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.table-heading{
  font-size:18px !important;
  font-weight:bold;
}

.card-header a{
  color:#FFF !important;
}

@media only screen and (max-width: 500px) {
  .admin_main--content{
    padding-right: 0px !important;
  }
}