.logo--image img
{
	width:100px;
}

.logo--image
{
	width:110px;
	border-right: 2px solid #000;
	margin:4px 10px 4px 0px;
	display:inline-block;
}

.header p
{
	display: inline-grid;
	font-weight: bold;
}	

.header p span
{
	color:#1570A5;
	font-size: 35px;
}	

.navbar-brand img
{
	width:50px;
}

h1, h2, h3, h4, h5
{
	font-weight: bold;
}


/*to make hover effect in image in profile picture.*/
.image-container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.image-container:hover .image-overlay {
  height: 30%;
}


/*profile box costumization*/
.profile
{
	background-color: #fafafa;
	box-shadow: 21px 6px 21px -6px rgba(0,0,0,0.75);
}

.single--training .card{
	transition-duration: 0.3s;
	position: relative;
}

.single--training:hover .card{
	transform: translateY(-7px);
	box-shadow: -1px 13px 12px -3px rgba(0,0,0,0.75);
}


.contact-icon 
{
    width: 68px;
    height: 68px;
    font-size: 32px;
    line-height: 68px;
    text-align: center;
    color: #fff;
    background: #1570A5;
    margin-right: 14px;
}

.contact-social-block
{
    margin: 40px 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 0 0 #ccc;
    text-align: center;
    padding-top: 10px;
}

.contact-social-block ul li
{
	 display: inline-block;
	 width: 68px;
    height: 68px;
    font-size: 32px;
    background: #1570A5;
    line-height: 68px;
    text-align: center;
    margin:20px 20px 20px 0px;
}

.contact-social-block ul li a
{
	color: #fff;
}

.contact-social-block ul li:hover
{
	background: #1570a596;
}

@media only screen and (min-width: 500px) 
{
  .contact-us
  {
    border-right:solid 2px #000 !important;
  }
}

/*footer customization*/
.footer-link ul li a
{
  color:#fff!important;
  text-decoration: none;
}

.footer-link ul li a:hover
{
  color:#a0a0a0e6!important;
}


.footer-social-block
{
    margin-top: 20px;
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 10px;
}

.footer-social-block ul li
{
    display: inline-block;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    margin:20px 20px 20px 0px;
}

/*cookies notification bar*/
.cookies 
{
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: #211f1f;
  padding-top:5px;
  padding-bottom:5px ;
  text-align: center;
  color:#fff;
}

.carousel-overlay{
      position: absolute;
    /* height: 200px; */
    width: 50%;
    top: 46%;
    left: 25%;
    z-index: 1;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: auto;
    float: left;
    background: #0000006b;
    color: #FFF;
}

a.btn-success{
  color:#FFF;
}